

body {
    font-size: 28px;
    margin: 20px 20px 20px 20px;
    background-color: azure;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkturquoise;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius: 25px;
    margin: -18px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: deepskyblue;
  }
  
  .active {
    background-color: #4CAF50;
  }


 div.paragrafo{
    margin: 25px;
    font-size: 18px;
    text-align: justify;
    text-indent: 0.5%;
    width: 60%;
 }




img.img-logo {
    width: 80px;
    height: 10%;
    margin-top: -10%;
}







  div.gallery {
    border: 1px solid #ccc;
    border-radius: 10%;
}

div.gallery:hover {
    border: 1px solid cornflowerblue;
}

div.gallery img {
    width: 80%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 5    00px) {
    .responsive {
        width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }